.sidebar-container{
  display: grid;
  margin: 30px;
  background-color: #f7f7f7;
  width: 280px;
  position: relative;
}
.sidebar-filter-container{
  background-color: #f7f7f7;
  padding: 10px;
}
.filterHeader-header{
  text-align: center;
  font-size: 1.1em;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}
.filter-gender{
  display: grid;
}
.filter-content-container{
  margin: 15px;
}
.filter-gender-selection{
  width: 90%;
  height: 30px;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  margin: 10px;
 
}
.filter-gender-header{
  background-color: white;
  padding: 5px;
  font-size: 1.05em;
  font-weight: 500;
}

